<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>PS ImapSync</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body bgcolor="#f2f2f2">



<div class="login-header__logo" id="indigo">
	<a href="https://www.ps.kz">
        <img src="/static/logo.png" alt="Logo" />
        </a>
</div>

<div id="output" class="container">
	<form action="/transfer" id="user" method="POST">


{% csrf_token %}
{{ form.as_p }}

	<div class="cen">
	    <label >Целевой почтовый ящик</label>
        </div>

  <div class="row">
    <div class="col-75">
      <input type="email" id="mail1" name="mail1" placeholder="Имя почтового ящика">
    </div>
  </div>

  <div class="row">
    <div class="col-75">
      <input type="password" id="pass1" name="pass1" placeholder="Введите пароль">
    </div>
  </div>

  <div class="row">
    <div class="col-75">
      <input type="text" id="host1" name="host1" placeholder="Адрес сервера">
    </div>
  </div>

  <input type="checkbox" name="ssl1" value="adventure" id="ssl1">
  <label for="ssl1" style="font-family: 'SExtralight'; font-size:14px;">Использовать защищенное соединение</label>

    {% if mail1auth %}
            <p style="color: red;">Данные почтового ящика не верны!</p>
    {% endif %}

    {% if NoData %}
            <p style="color: red;">Пожалуйста введите данные почтового ящика</p>
    {% endif %}

<div class="cen">
 <label for="host1">Второй почтовый ящик</label>
</div>

<div class="row">
 <div class="col-75">
  <input type="email" id="mail2" name="mail2" placeholder="Имя почтового ящика">
  </div>
</div>

<div class="row">
  <div class="col-75">
    <input type="password" id="pass2" name="pass2" placeholder="Введите пароль">
  </div>
</div>


<div class="row">
  <div class="col-75">
    <input type="text" id="host2" name="host2" placeholder="Адрес сервера">
  </div>
</div>

<input type="checkbox" name="ssl2" value="adventure" id="ssl2">
<label for="ssl2" style="font-family: 'SExtralight'; font-size:14px;">Использовать защищенное соединение</label>

    {% if mail2auth %}
            <p style="color: red;">Данные почтового ящика не верны!</p>
    {% endif %}

    {% if NoData %}
            <p style="color: red;">Пожалуйста введите данные почтового ящика</p>
    {% endif %}

    {% if transfer %}
            <p style="color: red;">Трансфер был выполнен!</p>
            <div class="row">
	    	<a href={{ FileName }} type="submit" class="row">Скачать лог</a>
	    </div>
    {% elif transfer == "false"%}
            <p style="color: red;">Произошла ошибка!!</p>
            <div class="row">
            	<a href={{ FileName }} type="submit" class="row">Скачать лог</a>
            </div>
    {% endif %}

  <div class="row">
    <input type="submit" name="submit" value="Начать трансфер">
  </div>

<div class="donut" id="myDiv" style="display:none;">
	<div class="cssload-cube cssload-c1"></div>
	<div class="cssload-cube cssload-c2"></div>
	<div class="cssload-cube cssload-c4"></div>
	<div class="cssload-cube cssload-c3"></div>
</div>

  </form>
</div>

<script>

//var form = document.forms.user;
//form.submit.addEventListener("click", function(sendRequest));
//form.submit.addEventListener("click", function(){$(".submit").setAttribute(disabled);});


var form = document.forms.user;
	
form.submit.addEventListener("click", sendRequest);
 
function sendRequest(event){	     
	                    document.getElementById("myDiv").style.display = "";
	                    document.getElementById("submit").disabled = true; 
                	    event.preventDefault();
	                    var formData = new FormData(form);
	                    var request = new XMLHttpRequest();	 
                	    request.open("POST", form.action);
	     
			    request.onreadystatechange = function () {
		            if (request.readyState == 4 && request.status == 200)
		                document.getElementById("output").innerHTML=request.responseText;
		           }
	                   request.send(formData);
                           }
</script>


<script>

</body>
</html>
