def hello(request):
    return HttpResponse('Hello World!')

def home(request):
    return render_to_response('index.html', {'variable': 'world'})

	<script>
		$.ajax({
			       url: '/hello',
			       type: 'get', // This is the default though, you don't actually need to always mention it
			       success: function(data) {
				                  alert(data);
				              },
			       failure: function(data) { 
				                  alert('Got an error dude');
				              }
		}); 
	</script>
